In [6]:
import pandas as pd
pd.set_option("max_rows",10)
data_df=pd.read_csv('data_u.csv',encoding='gbk')
data_df

       用户原始ID  电影原始ID  评分        时间戳
0         196     242   3  881250949
1         186     302   3  891717742
2          22     377   1  878887116
3         244      51   2  880606923
4         166     346   1  886397596
...       ...     ...  ..        ...
99995     880     476   3  880175444
99996     716     204   5  879795543
99997     276    1090   1  874795795
99998      13     225   2  882399156
99999      12     203   3  879959583

[100000 rows x 4 columns]

In [12]:
data_df[data_df['用户原始ID']==192]

       用户原始ID  电影原始ID  评分        时间戳
269       192     476   2  881368243
555       192    1061   4  881368891
725       192     948   3  881368302
4333      192    1160   4  881367456
7210      192     127   4  881367456
...       ...     ...  ..        ...
79570     192     289   4  881366615
80218     192       9   5  881367527
93685     192     111   2  881368222
96446     192     287   4  881368016
98944     192     118   2  881367932

[35 rows x 4 columns]

In [13]:
data_df[data_df['电影原始ID']==242]

       用户原始ID  电影原始ID  评分        时间戳
0         196     242   3  881250949
253        63     242   3  875747190
629       226     242   5  883888671
1232      154     242   3  879138235
2159      306     242   5  876503793
...       ...     ...  ..        ...
95720     305     242   5  886307828
96237     845     242   4  885409493
97046     500     242   3  891916883
99260     720     242   4  891262608
99759     721     242   3  877137597

[117 rows x 4 columns]

In [19]:
data_df=data_df.drop(['时间戳'],axis=1)

KeyError: "labels ['时间戳'] not contained in axis"

In [16]:
from surprise import Dateset
dataset=dataset

ModuleNotFoundError: No module named 'surprise'

In [20]:
from surprise import  Dateset,Reader

ModuleNotFoundError: No module named 'surprise'

In [ ]:
dataset=Dataset.load_from_df